@media screen and (max-width:800px){
	 .container-fluid{
	width: 550px;
	height: 3000px;
	margin: 0 auto;
	border: 1px solid black;
}
.container{
	width: 550px;
	background-color: #333333;
}
.navbar h1{
	color: white;
	font-size: 40px;
	margin-top: -70px;

}
.section{
	width: 500px;
	margin: 0 auto;
}
.navbar ul{
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	list-style: none;
	margin-left: 0px;
	position: absolute;
	margin-top: 30px;
	text-decoration-color: none;


}
.navbar ul li a{
	color: white;
	margin-left: 15px;
	font-family: 'Arial';
	font-size: 16px;
	text-decoration: none;
}
.hero h1{
	color: #333333;
	font-size: 30px;
}
.hero h2{
	color: #BBBBBB;
	font-size: 25px;
	font-weight: 300;
}
.text{
	margin-top: 0px;
	font-size: 19px;
	border-bottom:3px dotted #BBBBBB;
	padding-top: 20px;
	padding-bottom: 20px;
}
.content{
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
}

.left{
 	margin-left: 0px;
 	position: absolute;
 	
 }
 .center{
 	margin-left:0px;
	margin-top: 450px;
 	position: absolute;
 	margin-left: 
}
.right{
	margin-top: 900px;
 	margin-left: 0px;
 	position: absolute;


}
.content div h1{
	margin: 20px auto;
	color:white;
	font-weight: 300;
	margin-top:20px; 
	border-bottom: 5px dotted white;
	width: 200px;
	float: none;


}
.content div p{
	margin: 20px auto;
	color:white;
	font-weight: 300;
	margin-top:50px; 
	width: 200px;
}
.flex{
	display: flex;
	border-bottom: 4px dotted grey;
	height: 580px;
	margin-top: 1250px;
}

.client{
	width: 548px;
	height: 600px;
	margin-top: 37px;
	/*border: 1px solid black;*/
}
.client h1{
	font-weight: 400;
	margin-bottom: 30px;
}
.client .block{
	width:  60px;
	height: 60px;
	background-color: #CCCCCC;
	margin-top: 50px;
	float: left;
}

.comment p{
	width: 380px;
	float: left;
	margin-left: 27px;
	margin-top: 50px;
}
.comment p span{
	color: black;
	font-weight: 900;
	line-height: 10px;
}
.comment p a{
	color: #00AEEF;
	font-weight: 900;
	text-decoration: none;
	font-size: 14px;
}


.project{
	width: 548px;
	height: 500px;
	margin-top: 640px;
	/*border: 1px solid black;*/
	padding-left: -370px;
	position: absolute;
}
.project h1{
	color: black;
	font-weight: 400;
}

.project .weight{
	margin-top:-10px; 
	font-weight: 300;
	color: #555555;
	width: 100%;
	font-size: 30px;
	margin-top: 20px;
}
.project a{
	text-decoration: none;
	color: #00AEEF;
	font-weight: 800;
}
.sawer{
	color:#555555;
font-size: 1rem;
margin-left: 40px;
margin-top: 500px;
border-top: 3px dotted grey;

}

}